.wrapper {
    text-align: center;
}

.right {
    float: right;
    text-align: left;
}

.button {
    position: absolute;
    top: 50%;
}

.jumbotron {
    background-color: Lavender;
}
